# Mandatory 1and1 instructions
Options +FollowSymLinks
RewriteEngine On
RewriteBase /

# Make index.php handle any 404 errors.
ErrorDocument 404 /index.php

# Set the default handler.
DirectoryIndex index.php

# Various rewrite rules.
<IfModule mod_rewrite.c>
  RewriteRule ^boites/([a-zA-Z0-9_-]+)$ index.php?apikey=$1 [QSA,L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.php [L,QSA]
  RewriteCond %{SERVER_PORT} ^80$
  RewriteRule ^(.*)$ https://www.laboite.cc/$1 [R]
</IfModule>
